/* Add animation for border color change */
@keyframes borderAnimation {
  0% {
    border-color: rgba(90, 90, 90);
  }
  50% {
    border-color: #ff6347; /* Change border color to a different color midway */
  }
  100% {
    border-color: rgba(90, 90, 90);
  }
}

.calculator {
  border: 1px solid rgba(90, 90, 90);
  background-color: rgb(255, 187, 109);
  width: 250px;
  height: 400px;
  max-width: 100%; /* Ensure calculator doesn't exceed the viewport width */
  border-radius: 10px;
  margin: 9rem auto; /* Center the calculator horizontally */
  transition: margin-top 0.5s ease, width 0.5s ease; /* Add transition for margin-top and width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  animation: borderAnimation 2s infinite; /* Apply border animation */
}

.display {
  margin: 10px;
  padding: 15px; /* Add padding for better visual appearance */
  width: 100%; /* Ensure display area spans the entire width */
  font-size: 25px;
  text-align: right; /* Align text to the right for better readability */
  background-color: #fff; /* Set background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Add responsiveness */
@media screen and (max-width: 500px) {
  .calculator {
    width: 90%; /* Adjust width for smaller screens */
  }
}
